Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

Update python testing as per zed cycle teting runtime
  .zuul.yaml
  releasenotes/notes/drop-python-3-6-and-3-7-c6f051d5b2b40329.yaml
  setup.cfg
  tox.ini
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add openstack-tox-functional-py38-fips job
  .zuul.yaml
Due: none

Revert "Disable import workflow in glance cinder jobs"
  .zuul.yaml
Due: none

Remove workaround for python_exec cannot be None
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Bump Image API version to 2.16
  glance/api/middleware/version_negotiation.py
  glance/api/versions.py
  glance/tests/unit/test_versions.py
  releasenotes/notes/api-2.16-8417b1e23322fedb.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Doc: Glance group management
  doc/source/contributor/glance-groups.rst
  doc/source/contributor/index.rst
Due: none

Modify wrong file path in README
  httpd/README
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update api-ref: versions response for master branch
  api-ref/source/versions/index.rst
  api-ref/source/versions/samples/image-versions-response.json
Due: none

Remove dead code of auth and policy layers
  glance/api/authorization.py
  glance/api/policy.py
  glance/api/v2/cached_images.py
  glance/api/v2/image_actions.py
  glance/api/v2/image_data.py
  glance/api/v2/image_members.py
  glance/api/v2/image_tags.py
  glance/api/v2/images.py
  glance/api/v2/metadef_namespaces.py
  glance/api/v2/metadef_objects.py
  glance/api/v2/metadef_properties.py
  glance/api/v2/metadef_resource_types.py
  glance/api/v2/metadef_tags.py
  glance/api/v2/tasks.py
  glance/gateway.py
  glance/image_cache/prefetcher.py
  glance/tests/unit/test_auth.py
  glance/tests/unit/test_gateway.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_image_data_resource.py
  glance/tests/unit/v2/test_image_tags_resource.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_metadef_resources.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Bindep fixes for SUSE-like systems
  bindep.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix fips job
  .zuul.yaml
Due: none

Remove options for oslo.db thread pool support
  etc/glance-api.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
  etc/oslo-config-generator/glance-api.conf
  etc/oslo-config-generator/glance-manage.conf
  etc/oslo-config-generator/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-cache-prefetcher: Set up access to multistore backends
  glance/cmd/cache_prefetcher.py
  releasenotes/notes/bug-1979699-70182ec2aead0383.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[APIImpact] Correct API response code for DELETE cache APIs
  glance/api/v2/cached_images.py
  glance/tests/functional/v2/test_cache_api.py
  releasenotes/notes/bug-1980049-623d2eb0fa074136.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  glance/locale/de/LC_MESSAGES/glance.po
  glance/locale/en_GB/LC_MESSAGES/glance.po
  glance/locale/es/LC_MESSAGES/glance.po
  glance/locale/fr/LC_MESSAGES/glance.po
  glance/locale/it/LC_MESSAGES/glance.po
  glance/locale/ja/LC_MESSAGES/glance.po
  glance/locale/ko_KR/LC_MESSAGES/glance.po
  glance/locale/pt_BR/LC_MESSAGES/glance.po
  glance/locale/ru/LC_MESSAGES/glance.po
  glance/locale/tr_TR/LC_MESSAGES/glance.po
  glance/locale/zh_CN/LC_MESSAGES/glance.po
  glance/locale/zh_TW/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Remove unicode literal strings
  api-ref/source/conf.py
  doc/source/conf.py
  glance/common/utils.py
  glance/tests/functional/db/base.py
  glance/tests/functional/db/base_metadef.py
  glance/tests/functional/v2/test_images.py
  glance/tests/functional/v2/test_metadef_namespaces.py
  glance/tests/functional/v2/test_metadef_objects.py
  glance/tests/functional/v2/test_metadef_properties.py
  glance/tests/functional/v2/test_metadef_tags.py
  glance/tests/functional/v2/test_tasks.py
  glance/tests/unit/common/test_client.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/common/test_wsgi.py
  glance/tests/unit/test_store_image.py
  glance/tests/unit/v2/test_image_members_resource.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_metadef_resources.py
  releasenotes/source/conf.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add release notes link to README
  README.rst
Due: none

doc: update the kvm kw_vif_model driver list
  api-ref/source/v2/samples/metadef-properties-list-response.json
  doc/source/admin/useful-image-properties.rst
  etc/metadefs/compute-libvirt-image.json
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Adds purge command to glancemanage man page
  doc/source/cli/glancemanage.rst
Due: none

Add missing oslo_limit options
  etc/glance-api.conf
  etc/oslo-config-generator/glance-api.conf
  requirements.txt
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix URLs in the form docs.openstack.org/developer/$project
  HACKING.rst
  api-ref/source/v2/metadefs-index.rst
  api-ref/source/v2/samples/schemas-metadef-resource-type-association-show-response.json
  api-ref/source/v2/samples/schemas-metadef-resource-type-associations-list-response.json
  api-ref/source/v2/tasks.inc
  doc/source/user/glanceclient.rst
  etc/glance-api.conf
  glance/api/v2/metadef_resource_types.py
  glance/notifier.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Doc: fix URL in API call
  doc/source/user/glancemetadefcatalogapi.rst
Due: none

Fix failing namespace list delete race
  glance/api/v2/metadef_namespaces.py
  glance/tests/unit/v2/test_metadef_resources.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Include os-brick configuration options
  etc/oslo-config-generator/glance-api.conf
  etc/oslo-config-generator/glance-cache.conf
  etc/oslo-config-generator/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for Zed milestone 2
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Release notes for Zed Milestone 2
  releasenotes/notes/zed-milestone-2-a782e75cdbd8fe13.yaml
Due: none

Remove secure_proxy_ssl_header opt from Glance
  etc/glance-api.conf
  glance/common/wsgi.py
  glance/opts.py
  glance/tests/unit/test_versions.py
  releasenotes/notes/remove_secure_proxy_ssl_header-2a95ad48ffa471ad.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix upgrade checks for sheepdog
  glance/cmd/status.py
  glance/tests/unit/cmd/__init__.py
  glance/tests/unit/cmd/test_status.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Immediate caching of an image
  doc/source/admin/cache.rst
  glance/api/v2/cached_images.py
  glance/cmd/api.py
  glance/common/wsgi.py
  glance/common/wsgi_app.py
  glance/opts.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_cache_api.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/v2/test_cache_management_api.py
  glance/tests/utils.py
  releasenotes/notes/immediate-caching-image-e38055575c361d32.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-manage: fix crash under Python3.11
  glance/cmd/manage.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Enable Image cache tempest testing
  .zuul.yaml
Due: none

Update exception for property protection file
  glance/common/wsgi.py
  glance/tests/unit/common/test_wsgi.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove unused pylintrc
  pylintrc
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check
