Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Make functional tests set node_staging_uri
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add housekeeping module and staging cleaner
  glance/common/wsgi.py
  glance/common/wsgi_app.py
  glance/housekeeping.py
  glance/tests/functional/test_wsgi.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_housekeeping.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Drop lower-constraints jobs
  .zuul.yaml
  lower-constraints.txt
  tox.ini
Due: none

Guidelines for core reviewers
  doc/source/contributor/core_reviewer_guidelines.rst
  doc/source/contributor/index.rst
Due: none

Fix image/tasks API for in-progress tasks
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Ignore stale image property removal
  glance/db/sqlalchemy/api.py
  glance/tests/unit/test_db.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Cinder Store: Update legacy images tests
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Allow member creation when using db.simple api
  glance/db/simple/api.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix auth info on scrubber tests
  glance/tests/functional/serial/test_scrubber.py
Due: glance-code-constants-check

Fix test_cache_middleware tests to use auth
  glance/tests/functional/__init__.py
  glance/tests/functional/test_cache_middleware.py
Due: glance-code-constants-check

Make wsgi tests use noauth deployment flavor
  glance/tests/functional/test_wsgi.py
Due: glance-code-constants-check

Make project_id a formal target alias
  glance/api/policy.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[Doc] Update Freenode to OFTC as our IRC server
  doc/source/contributor/blueprints.rst
  doc/source/contributor/contributing.rst
Due: none

Remove references to sys.version_info
  glance/common/property_utils.py
  glance/common/swift_store_utils.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make taskflow_executor log get_flow() exceptions
  glance/async_/taskflow_executor.py
  glance/tests/unit/async_/test_taskflow_executor.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Changed minversion in tox to 3.18.0
  tox.ini
Due: none

Fix missing context args to get_flow()
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/test_async.py
Due: glance-code-constants-check

Revert "Remove all usage of keystoneclient"
  glance/common/auth.py
  glance/common/trust_auth.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update image.size after conversion
  glance/async_/flows/api_image_import.py
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refactor SynchronousAPIBase for more cases
  glance/tests/functional/__init__.py
Due: glance-code-constants-check

Make image stage set image.size
  glance/api/v2/image_data.py
  glance/tests/functional/ft_utils.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/v2/test_image_data_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add unified quotas infrastructure
  glance/common/config.py
  glance/quota/keystone.py
  glance/tests/unit/fixtures.py
  glance/tests/unit/test_quota.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Document domain-related cinder backend options
  doc/source/configuration/configuring.rst
Due: none

Fix broken test_update_queued_image_with_hidden
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

Add user_get_staging_usage() to DB API
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/test_sqlalchemy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add image_stage_total quota enforcement
  glance/api/v2/image_data.py
  glance/async_/flows/api_image_import.py
  glance/quota/keystone.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Enforce keystone limits for image upload
  glance/api/common.py
  glance/api/v2/image_data.py
  glance/api/v2/images.py
  glance/async_/flows/api_image_import.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/test_quota.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add image_count_total quota enforcement
  glance/api/v2/images.py
  glance/quota/keystone.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add user_get_image_count() to DB API
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/test_sqlalchemy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Use default policies in our tests
  glance/tests/etc/policy.yaml
  glance/tests/functional/__init__.py
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/functional/test_cache_middleware.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add a nonvoting functional job with RBAC defaults
  .zuul.yaml
  glance/tests/functional/__init__.py
  tox.ini
Due: glance-code-constants-check

Add user_get_uploading_count() to DB API
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/test_sqlalchemy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add image_count_uploading quota enforcement
  glance/api/v2/image_data.py
  glance/api/v2/images.py
  glance/async_/flows/api_image_import.py
  glance/async_/taskflow_executor.py
  glance/quota/keystone.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
