Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Update python classifier in setup.cfg
  setup.cfg
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix test failures with oslo.limit 2.3.0
  glance/tests/functional/v2/test_discovery.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/test_quota.py
Due: glance-code-constants-check

Deprecate sqlite cache driver
  glance/image_cache/__init__.py
  glance/image_cache/drivers/sqlite.py
  releasenotes/notes/deprecate-sqlite-cache-driver-1f5f67862f56e0ba.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Deprecate the "glance-cache-manage" command
  glance/cmd/cache_manage.py
  releasenotes/notes/deprecate-glance-cache-manage-c88f07d33fcc7ca5.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Replace usage of deprecated [DATABASE] sql_connection
  glance/tests/functional/__init__.py
  glance/tests/functional/serial/test_scrubber.py
Due: glance-code-constants-check

Bump hacking
  glance/cmd/replicator.py
  glance/common/wsme_utils.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/hacking/checks.py
  glance/notifier.py
  glance/policies/base.py
  glance/tests/functional/db/base.py
  glance/tests/functional/v2/test_metadef_objects.py
  glance/tests/functional/v2/test_metadef_resourcetypes.py
  glance/tests/functional/v2/test_metadef_tags.py
  glance/tests/unit/async_/test_taskflow_executor.py
  glance/tests/unit/test_notifier.py
  requirements.txt
  test-requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Replace CRLF by LF
  etc/oslo-config-generator/glance-image-import.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make glance-manage honor config-dirs
  glance/cmd/manage.py
  glance/common/config.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Drop ineffective options from config file
  glance/tests/functional/__init__.py
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/functional/test_cache_middleware.py
  glance/tests/functional/test_cors_middleware.py
  glance/tests/functional/test_wsgi.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Support Stream Optimized VMDKs
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Use constants for common rules
  glance/policies/base.py
  glance/policies/discovery.py
  glance/policies/image.py
  glance/policies/metadef.py
  glance/policies/tasks.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add new tables for cache operations
  glance/db/sqlalchemy/alembic_migrations/data_migrations/2024_1_migrate01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/2024_1_contract01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/2024_1_expand01_add_cache_tables.py
  glance/db/sqlalchemy/models.py
  glance/tests/functional/db/migrations/test_2024_1_expand01.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for unmaintained/yoga
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

reno: Update master for yoga Unmaintained status
  releasenotes/source/yoga.rst
Due: none

inject_image_metadata plugin: Fix documentation
  doc/source/admin/interoperable-image-import.rst
Due: none

Add required database API(s) for cache
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Deprecate the "location_strategy" option
  glance/common/location_strategy/__init__.py
  glance/common/location_strategy/store_type.py
  releasenotes/notes/deprecate-location_strategy-f658e69700204bbf.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Introduce centralized database driver for image cache
  glance/image_cache/__init__.py
  glance/image_cache/drivers/centralized_db.py
  glance/tests/functional/image_cache/__init__.py
  glance/tests/functional/image_cache/drivers/__init__.py
  glance/tests/functional/image_cache/drivers/test_centralized_db.py
  glance/tests/unit/test_image_cache.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Read global config file for cache utilities
  glance/common/config.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move sqlite code in common module
  glance/image_cache/drivers/common.py
  glance/image_cache/drivers/sqlite.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make openstack-tox-functional-py38-fips job non-voting
  .zuul.yaml
Due: none

Deprecate glance scrubber
  glance/scrubber.py
  releasenotes/notes/deprecate-scrubber-862c38e0d65557f3.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[minor] Fix doc string for class
  glance/image_cache/drivers/centralized_db.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Migrate from SQLite to Centralized db
  glance/common/wsgi.py
  glance/common/wsgi_app.py
  glance/sqlite_migration.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_sqlite_migration.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Prepare for castellan 4.4.0
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

[docs] Configure centralized_db cache driver
  doc/source/configuration/configuring.rst
Due: none

Fix flaky test related to cache migration
  glance/tests/unit/test_sqlite_migration.py
Due: glance-code-constants-check

Set a lock_path for tests
  glance/tests/utils.py
Due: glance-code-constants-check

Use centralized_db cache driver in tempest jobs
  .zuul.yaml
Due: none

Make `centralized_db` cache driver default
  glance/image_cache/__init__.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_cache_api.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/common/test_wsgi.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_sqlite_migration.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Require more specific exception
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

New grenade job to upgrding cache driver
  .zuul.yaml
Due: none

Release notes for Caracal Milestone 3
  releasenotes/notes/caracal-milestone-3-releasenotes-534b1daa3e1f254c.yaml
Due: none

Refresh Glance example configs for caracal m3
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Docs: Add info about the cinder store
  doc/source/configuration/configuring.rst
Due: none

Update .gitreview for unmaintained/victoria
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for unmaintained/xena
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

reno: Update master for victoria Unmaintained status
  releasenotes/source/victoria.rst
Due: none

reno: Update master for wallaby Unmaintained status
  releasenotes/source/wallaby.rst
Due: none

reno: Update master for xena Unmaintained status
  releasenotes/source/xena.rst
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
