Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

devstack-plugin-ceph-tempest-py3:
  voting: false

Bump Images API version to 2.11
  glance/api/middleware/version_negotiation.py
  glance/api/versions.py
  glance/tests/functional/test_api.py
  glance/tests/unit/test_versions.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  glance/locale/de/LC_MESSAGES/glance.po
  glance/locale/en_GB/LC_MESSAGES/glance.po
  glance/locale/es/LC_MESSAGES/glance.po
  glance/locale/fr/LC_MESSAGES/glance.po
  glance/locale/it/LC_MESSAGES/glance.po
  glance/locale/ja/LC_MESSAGES/glance.po
  glance/locale/ko_KR/LC_MESSAGES/glance.po
  glance/locale/pt_BR/LC_MESSAGES/glance.po
  glance/locale/ru/LC_MESSAGES/glance.po
  glance/locale/tr_TR/LC_MESSAGES/glance.po
  glance/locale/zh_CN/LC_MESSAGES/glance.po
  glance/locale/zh_TW/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Adding gate job for glance cinder store
  .zuul.yaml
Due: none

Use psycopg2-binary for test-requirements instead of Use psycopg2
  lower-constraints.txt
  test-requirements.txt
Due: none

Remove 'admin_role' option
  doc/source/admin/authentication.rst
  glance/api/middleware/context.py
  glance/tests/functional/__init__.py
  glance/tests/unit/test_context_middleware.py
  releasenotes/notes/remove-admin_role-f508754e98331fc4.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Run nova-ceph-multistore only when tempest is ran
  .zuul.yaml
Due: none

Bump lower_constraints and requirements
  lower-constraints.txt
  requirements.txt
Due: none

Replace md5 with oslo version
  glance/image_cache/__init__.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/test_image_cache.py
  lower-constraints.txt
  requirements.txt
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

[Doc] Remove description about v1 api and glance-registry
  doc/source/admin/authentication.rst
  doc/source/admin/cache.rst
  doc/source/admin/controllingservers.rst
  doc/source/admin/property-protections.rst
  doc/source/configuration/configuring.rst
  doc/source/contributor/architecture.rst
  doc/source/contributor/domain_implementation.rst
  doc/source/deprecate-registry.inc
  doc/source/install/get-started.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Update version of doc8
  lower-constraints.txt
  test-requirements.txt
Due: none

Move some helper functions to base class
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_import_locking.py
Due: glance-code-constants-check

Fix a typo in functional helper class
  glance/tests/functional/__init__.py
Due: glance-code-constants-check

Tox.ini: add py39
  tox.ini
Due: none

Fix upgrade checks for sheepdog
  glance/cmd/status.py
  glance/tests/unit/cmd/__init__.py
  glance/tests/unit/cmd/test_status.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Change database migration version to wallaby
  glance/db/migration.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Update docs and renos for os_glance reservation
  api-ref/source/v2/images-images-v2.inc
  doc/source/admin/property-protections.rst
  doc/source/admin/troubleshooting.rst
  doc/source/admin/useful-image-properties.rst
  releasenotes/notes/os-glance-namespace-reserved-1fcb8a5fddca4e0f.yaml
Due: none

Make os_glance namespace reserved
  glance/api/v2/images.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Exclude os_glance namespace from property quota
  glance/api/common.py
  glance/api/v2/images.py
  glance/quota/__init__.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

[goal] Deprecate the JSON formatted policy file
  doc/source/admin/interoperable-image-import.rst
  doc/source/admin/policies.rst
  doc/source/admin/troubleshooting.rst
  doc/source/contributor/domain_implementation.rst
  glance/api/policy.py
  glance/cmd/status.py
  glance/common/config.py
  glance/common/property_utils.py
  glance/tests/etc/policy.json
  glance/tests/etc/policy.yaml
  glance/tests/functional/__init__.py
  glance/tests/utils.py
  lower-constraints.txt
  releasenotes/notes/deprecate-json-formatted-policy-file-5cb692fe889eb52b.yaml
  requirements.txt
  setup.cfg
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Replace collections.Iterable
  glance/common/client.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add policy sample file in doc
  doc/source/conf.py
  doc/source/configuration/sample-configuration.rst
Due: none

Add devstack plugin script
  devstack/plugin.sh
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add functional tests for cinder multiple store
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
  lower-constraints.txt
  test-requirements.txt
Due: glance-code-constants-check

Pass ImageActionWrapper to internal plugins
  glance/async_/flows/_internal_plugins/copy_image.py
  glance/async_/flows/_internal_plugins/web_download.py
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_copy_image.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make web-download revert all stores on fail
  glance/async_/flows/_internal_plugins/web_download.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add missing fail case tests for image_conversion
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make action wrapper support arbitrary properties
  glance/async_/flows/_internal_plugins/web_download.py
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make image_conversion use action wrapper
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Allow plugins to mutate image extra_properties
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make inject_image_metadata use action wrapper
  glance/async_/flows/plugins/inject_image_metadata.py
  glance/tests/unit/async_/flows/plugins/test_inject_image_metadata.py
  releasenotes/notes/os-glance-injection-disallowed-5dad244dfb071938.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make copy_image plugin use action wrapper
  glance/async_/flows/_internal_plugins/copy_image.py
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/flows/test_copy_image.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix nonsensical test mocks and assertions
  glance/tests/unit/async_/flows/plugins/test_inject_image_metadata.py
Due: glance-code-constants-check

Uncap PrettyTable
  requirements.txt
Due: none

Remove unused option "owner_is_tenant"
  api-ref/source/v2/images-sharing-v2.inc
  doc/source/user/glanceapi.rst
  etc/glance-api.conf
  glance/api/middleware/context.py
  glance/cmd/status.py
  glance/common/removed_config.py
  glance/context.py
  glance/tests/functional/__init__.py
  glance/tests/functional/db/base.py
  glance/tests/unit/cmd/test_status.py
  releasenotes/notes/remove-owner_is_tenant-b30150def293effc.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

trivial: Fix a typo in devstack plugin.sh
  devstack/plugin.sh
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Cleanup remaining tenant terminology in glance API docs
  doc/source/user/glanceapi.rst
Due: none

Make glance cinder multistore job voting
  .zuul.yaml
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
