Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

devstack-plugin-ceph-tempest-py3:
  voting: false

Refactor common auth token code in images test
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add a functional test for non-owned image copying
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Refactor TaskFactory and Executor to take an admin ImageRepo
  glance/async_/__init__.py
  glance/async_/taskflow_executor.py
  glance/domain/__init__.py
  glance/gateway.py
  glance/tests/unit/async_/test_async.py
  glance/tests/unit/async_/test_taskflow_executor.py
  glance/tests/unit/test_domain.py
  glance/tests/unit/test_gateway.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add context.elevated() helper for getting admin privileges
  glance/context.py
  glance/tests/unit/test_context.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make import task capable of running as admin on behalf of user
  glance/api/v2/images.py
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Don't use Stevedore 3.0.0 which breaks gate
  requirements.txt
Due: none

Cleanup remove api v1 and registry code
  etc/glance-api-paste.ini
  glance/api/cached_images.py
  glance/api/v1/__init__.py
  glance/api/v1/controller.py
  glance/api/v1/filters.py
  glance/api/v1/router.py
  glance/api/v1/upload_utils.py
  glance/common/config.py
  glance/common/rpc.py
  glance/db/registry/__init__.py
  glance/db/registry/api.py
  glance/hacking/checks.py
  glance/opts.py
  glance/registry/__init__.py
  glance/registry/api/__init__.py
  glance/registry/api/v1/__init__.py
  glance/registry/api/v1/images.py
  glance/registry/api/v1/members.py
  glance/registry/client/__init__.py
  glance/registry/client/v1/__init__.py
  glance/registry/client/v1/api.py
  glance/registry/client/v1/client.py
  glance/registry/client/v2/__init__.py
  glance/registry/client/v2/api.py
  glance/registry/client/v2/client.py
  glance/tests/functional/__init__.py
  glance/tests/integration/v2/base.py
  glance/tests/integration/v2/test_property_quota_violations.py
  glance/tests/integration/v2/test_tasks_api.py
  glance/tests/stubs.py
  glance/tests/unit/common/test_rpc.py
  glance/tests/unit/test_cached_images.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Update sample configs post deprecation removals
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-scrubber.conf
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Improve lazy loading mechanism for multiple stores
  glance/api/authorization.py
  glance/api/v2/images.py
  glance/common/store_utils.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add a policy knob for allowing non-owned image copying
  glance/api/v2/images.py
  glance/policies/image.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Remove unused "copy_from" policy rule
  glance/policies/image.py
  glance/tests/etc/policy.json
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Remove deprecated glance-replicator options
  glance/cmd/replicator.py
  releasenotes/notes/replicator-token-cleanup-4a573c86f1acccc0.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add image_set_property_atomic() helper
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/domain/proxy.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
  glance/tests/unit/test_domain_proxy.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix admin docs deplying under HTTPD
  doc/source/admin/apache-httpd.rst
  releasenotes/notes/fix_httpd_docs-3efff0395f96a94d.yaml
Due: none

Fix admin docs deploying under HTTPD
  doc/source/admin/apache-httpd.rst
  releasenotes/notes/fix_httpd_docs-3efff0395f96a94d.yaml
Due: none

Make our tempest job use import, standalone, and inject_metadata
  .zuul.yaml
  playbooks/post-check-metadata-injection.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix reloading under PY3
  broken-functional-py3-ssl-tests.txt
  glance/common/utils.py
  glance/tests/functional/test_reload.py
  releasenotes/notes/Fix_reload_PY3-e8a5bd337a77be1a.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix broken glance-cache-manage utility
  glance/common/wsgi.py
  glance/tests/functional/test_client_exceptions.py
  glance/tests/functional/test_client_redirects.py
  glance/tests/functional/test_wsgi.py
  glance/tests/unit/test_cache_manage.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Return the mod_proxy_uwsgi paragraph
  doc/source/admin/apache-httpd.rst
Due: none

Fix release note formatting
  releasenotes/notes/no_plugins_for_copy-image-26c0e384a368bf6a.yaml
Due: none

Make glance-api able to do async tasks in WSGI mode
  .zuul.yaml
  glance/api/common.py
  glance/api/v2/images.py
  glance/api/v2/tasks.py
  glance/async_/__init__.py
  glance/async_/taskflow_executor.py
  glance/cmd/api.py
  glance/common/config.py
  glance/common/wsgi_app.py
  glance/tests/__init__.py
  glance/tests/functional/__init__.py
  glance/tests/unit/api/test_cmd.py
  glance/tests/unit/api/test_common.py
  glance/tests/unit/async_/test_async.py
  glance/tests/unit/async_/test_taskflow_executor.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_tasks_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

[Doc] Policy support to copy unowned images
  api-ref/source/v2/images-import.inc
  doc/source/admin/interoperable-image-import.rst
Due: none

Make image conversion use a proper python interpreter for prlimit
  .zuul.yaml
  glance/async_/flows/plugins/image_conversion.py
  glance/common/config.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make wsgi_app support graceful shutdown
  glance/common/wsgi_app.py
  glance/tests/unit/common/test_wsgi_app.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Victoria milestone 2 release notes
  releasenotes/notes/victoria-m2-release-notes-8a6ae2fdb3d29dae.yaml
Due: none

Add new config options in sample config generator
  glance/opts.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for Victoria milestone 2
  etc/glance-api.conf
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Change database migration version to victoria
  glance/db/migration.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add "stores" to disallowed properties
  glance/api/v2/images.py
  glance/tests/unit/v2/test_images_resource.py
  releasenotes/notes/fix_1889676-f8d302fd240c8a57.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

[goal] Migrate glance jobs to focal
  .zuul.yaml
Due: none

Releasenotes for Train point release
  releasenotes/notes/train-point-release-5215aac30150a9cb.yaml
Due: none

Fix formatting error in release note
  releasenotes/notes/Fix_reload_PY3-e8a5bd337a77be1a.yaml
Due: none

Fix formatting error in release note
  releasenotes/notes/no_plugins_for_copy-image-26c0e384a368bf6a.yaml
Due: none

Releasenotes for Ussuri point release
  releasenotes/notes/ussuri-point-release-35cdd66344a3f62c.yaml
Due: none

Fix active image when all uploads fail
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/test_async.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix active image without data
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  releasenotes/notes/fix_1889640-95d543629d7dadce.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
