Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

devstack-plugin-ceph-tempest-py3:
  voting: false

Stream-friendly disk format inspection module
  bindep.txt
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
  tools/test_format_inspector.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Inspect upload/import stream and set virtual_size
  glance/location.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/test_store_image.py
  glance/tests/unit/utils.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add "stores" to disallowed properties
  glance/api/v2/images.py
  glance/tests/unit/v2/test_images_resource.py
  releasenotes/notes/fix_1889676-f8d302fd240c8a57.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix active image without data
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  releasenotes/notes/fix_1889640-95d543629d7dadce.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Use correct import order in test_api_import_image
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

Fix active image when all uploads fail
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/test_async.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Squelch the stevedore.extension debug logging in functional tests
  glance/tests/functional/__init__.py
Due: glance-code-constants-check

Fix non-deterministic copy_image_revert_lifecycle test
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add testing for _CompleteTask in api_image_import
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

Flesh out FakeImage for extra_properties
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

Add tests for _ImportToStore.execute()
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

Add image_delete_property_atomic() helper
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/domain/proxy.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
  glance/tests/unit/test_domain_proxy.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Heartbeat the actual work of the task
  glance/async_/flows/api_image_import.py
  glance/common/scripts/image_import/main.py
  glance/common/scripts/utils.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/common/scripts/image_import/test_main.py
  glance/tests/unit/common/scripts/test_scripts_utils.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Update task message during import
  glance/async_/flows/api_image_import.py
  glance/common/exception.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make wait_for_fork() more robust against infinite deadlock
  glance/tests/functional/__init__.py
  glance/tests/utils.py
Due: glance-code-constants-check

Functional reproducer for bug 1891352
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

zuul: use the new barbican simple-crypto job
  .zuul.yaml
Due: none

Fix import failure status reporting when all_stores_must_succeed=True
  glance/async_/flows/api_image_import.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Poll for final state on test_copy_image_revert_lifecycle()
  glance/tests/functional/ft_utils.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add functional test for task status updating
  glance/tests/functional/v2/test_images_import_locking.py
Due: glance-code-constants-check

Handle atomic image properties separately
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add ImageLock to base flow checks
  glance/tests/unit/async_/test_async.py
Due: glance-code-constants-check

Move SynchronousAPIBase to a generalized location
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_import_locking.py
Due: glance-code-constants-check

Implement time-limited import locking
  glance/api/v2/images.py
  glance/async_/flows/api_image_import.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/test_async.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Cleanup import status information after busting a lock
  glance/api/v2/images.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make test_copy_image_revert_lifecycle handle 409 on import retry
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Functional test enhancement for lock busting
  glance/async_/flows/api_image_import.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add FakeData generator test utility
  glance/tests/unit/test_test_utils.py
  glance/tests/utils.py
Due: glance-code-constants-check

Make our ceph job enable thin provisioning
  .zuul.yaml
Due: none

Disable wait_for_fork() kill aggression if expect_exit=True
  glance/tests/functional/__init__.py
Due: glance-code-constants-check

Add a functional test for non-owned image copying
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Refactor common auth token code in images test
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add a test to replicate the owner-required behavior of copy-image
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

Make import task capable of running as admin on behalf of user
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add image_set_property_atomic() helper
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/domain/proxy.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
  glance/tests/unit/test_domain_proxy.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
