Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Fix: cinder store test
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Stop raising 403 when image is not found
  glance/api/policy.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/v2/test_images_resource.py
  releasenotes/notes/image-not-found-policy-override-removed-52616c483a270bcf.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Bump requirements to prepare for secure RBAC
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
Due: none

Add basic/common personas to base policies
  glance/policies/base.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Properly handle InvalidScope exceptions
  glance/api/policy.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Pass oslo.context RequestContext objects directly to policy enforcement
  glance/api/policy.py
  glance/context.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Expand tasks database table to add more columns
  glance/db/migration.py
  glance/db/sqlalchemy/alembic_migrations/data_migrations/wallaby_migrate01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/wallaby_contract01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/wallaby_expand01_add_user_imageid_requestid_to_tasks.py
  glance/db/sqlalchemy/models.py
  glance/tests/functional/db/migrations/test_wallaby_expand01.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Extract req.context in a variable
  glance/api/v2/images.py
  glance/api/v2/tasks.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Utilize newly added tasks database fields
  glance/api/v2/images.py
  glance/api/v2/tasks.py
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/domain/__init__.py
  glance/domain/proxy.py
  glance/tests/functional/v2/test_tasks.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_inject_image_metadata.py
  glance/tests/unit/async_/flows/test_convert.py
  glance/tests/unit/async_/flows/test_copy_image.py
  glance/tests/unit/async_/flows/test_import.py
  glance/tests/unit/async_/flows/test_introspect.py
  glance/tests/unit/async_/flows/test_web_download.py
  glance/tests/unit/async_/test_taskflow_executor.py
  glance/tests/unit/test_auth.py
  glance/tests/unit/test_db.py
  glance/tests/unit/test_domain.py
  glance/tests/unit/test_notifier.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_tasks_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

New API /v2/images/{id}/tasks
  glance/api/v2/images.py
  glance/api/v2/router.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/test_db.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update API docs for new /v2/images/{image_id}/tasks API
  api-ref/source/v2/images-images-v2.inc
  api-ref/source/v2/images-parameters.yaml
  api-ref/source/v2/samples/image-tasks-show-response.json
  releasenotes/notes/image-tasks-api-f21b42eab91c2079.yaml
Due: none

Bump Images API version to 2.12
  glance/api/middleware/version_negotiation.py
  glance/api/versions.py
  glance/tests/unit/test_versions.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add a test for migration naming and phase rules
  glance/tests/functional/db/test_migrations.py
Due: glance-code-constants-check

Add get_ksa_client() helper
  glance/context.py
  glance/tests/unit/test_context.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fail to start if authorization and policy is misconfigured
  devstack/plugin.sh
  glance/api/policy.py
  glance/cmd/api.py
  glance/common/config.py
  glance/common/wsgi_app.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make functional tests set node_staging_uri
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Distributed image import
  glance/api/v2/image_data.py
  glance/api/v2/images.py
  glance/async_/flows/api_image_import.py
  glance/common/config.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/utils.py
  glance/tests/unit/v2/test_image_data_resource.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add administrator docs for distributed-import
  doc/source/admin/interoperable-image-import.rst
  doc/source/admin/multistores.rst
  releasenotes/notes/distributed-image-import-82cff4426731beac.yaml
Due: none

Add housekeeping module and staging cleaner
  glance/common/wsgi.py
  glance/common/wsgi_app.py
  glance/housekeeping.py
  glance/tests/functional/test_wsgi.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_housekeeping.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Enable second glance worker for import testing
  .zuul.yaml
Due: none

Add glance functional protection tests to check and gate
  .zuul.yaml
Due: none

Move setting of enforce_scope to devstack side
  devstack/plugin.sh
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix test_cache_middleware ImageStub
  glance/tests/unit/test_cache_middleware.py
Due: glance-code-constants-check

Implement project personas for image actions
  glance/api/middleware/cache.py
  glance/api/policy.py
  glance/api/v2/image_data.py
  glance/policies/base.py
  glance/policies/image.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_image_data_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for Wallaby milestone 3
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

trivial: Fix minor grammatical issues in cache middleware
  glance/api/middleware/cache.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

trivial: remove unnecessary grouping in base policies
  glance/policies/base.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update the task policies
  glance/api/policy.py
  glance/policies/tasks.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix erroneous exit from copy wait loop
  glance/tests/functional/ft_utils.py
Due: glance-code-constants-check

Wallaby milestone 3 release notes
  releasenotes/notes/wallaby-m3-releasenotes-bdc9fe6938aba8cc.yaml
Due: none

Add a release note for secure RBAC personas
  .zuul.yaml
  releasenotes/notes/secure-rbac-project-personas-fb0d9792b9dc3783.yaml
Due: none

Make some metadef operations admin-only
  api-ref/source/v2/metadefs-index.rst
  doc/source/user/metadefs-concepts.rst
  glance/policies/metadef.py
  glance/tests/etc/policy.yaml
  glance/tests/unit/v2/test_metadef_resources.py
  releasenotes/notes/metadef-api-admin-operations-b9a2d863913b0cae.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix a typo in contributor docs
  doc/source/contributor/minor-code-changes.rst
Due: none

Bump lower_constraints and requirements
  .zuul.yaml
  lower-constraints.txt
  requirements.txt
Due: none

Pass ImageActionWrapper to internal plugins
  glance/async_/flows/_internal_plugins/copy_image.py
  glance/async_/flows/_internal_plugins/web_download.py
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/flows/test_copy_image.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make web-download revert all stores on fail
  .zuul.yaml
  glance/async_/flows/_internal_plugins/web_download.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for stable/wallaby
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: none

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Add Python3 xena unit tests
  .zuul.yaml
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
