Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

Add unified quotas documentation
  doc/source/admin/index.rst
  doc/source/admin/quotas.rst
  doc/source/configuration/configuring.rst
  doc/source/install/configure-quotas.rst
  doc/source/install/install-debian.rst
  doc/source/install/install-obs.rst
  doc/source/install/install-rdo.rst
  doc/source/install/install-ubuntu.rst
  doc/source/install/register-quotas.rst
  doc/source/user/glanceapi.rst
  releasenotes/notes/glance-unified-quotas-fba62fabb00379af.yaml
Due: none

Fix the policy deprecation message
  glance/policies/image.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix oslo policy DeprecatedRule warnings
  glance/policies/base.py
  glance/policies/image.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Revert "Remove all usage of keystoneclient"
  glance/common/auth.py
  glance/common/trust_auth.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for Xena milestone 2
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Xena milestone 2 release notes
  releasenotes/notes/xena-m2-releasenotes-e68fd81ece1d514a.yaml
Due: none

db: Replace sqlalchemy-migrate call with alembic equivalent
  glance/db/sqlalchemy/alembic_migrations/versions/ocata_expand01_add_visibility.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Move 'schema' module up a level
  glance/db/sqlalchemy/alembic_migrations/add_artifacts_tables.py
  glance/db/sqlalchemy/alembic_migrations/add_images_tables.py
  glance/db/sqlalchemy/alembic_migrations/add_metadefs_tables.py
  glance/db/sqlalchemy/alembic_migrations/add_tasks_tables.py
  glance/db/sqlalchemy/migrate_repo/versions/001_add_images_table.py
  glance/db/sqlalchemy/migrate_repo/versions/002_add_image_properties_table.py
  glance/db/sqlalchemy/migrate_repo/versions/003_add_disk_format.py
  glance/db/sqlalchemy/migrate_repo/versions/004_add_checksum.py
  glance/db/sqlalchemy/migrate_repo/versions/005_size_big_integer.py
  glance/db/sqlalchemy/migrate_repo/versions/006_key_to_name.py
  glance/db/sqlalchemy/migrate_repo/versions/007_add_owner.py
  glance/db/sqlalchemy/migrate_repo/versions/008_add_image_members_table.py
  glance/db/sqlalchemy/migrate_repo/versions/009_add_mindisk_and_minram.py
  glance/db/sqlalchemy/migrate_repo/versions/010_default_update_at.py
  glance/db/sqlalchemy/migrate_repo/versions/014_add_image_tags_table.py
  glance/db/sqlalchemy/migrate_repo/versions/018_add_image_locations_table.py
  glance/db/sqlalchemy/migrate_repo/versions/026_add_location_storage_information.py
  glance/db/sqlalchemy/migrate_repo/versions/030_add_tasks_table.py
  glance/db/sqlalchemy/migrate_repo/versions/032_add_task_info_table.py
  glance/db/sqlalchemy/migrate_repo/versions/033_add_location_status.py
  glance/db/sqlalchemy/migrate_repo/versions/035_add_metadef_tables.py
  glance/db/sqlalchemy/migrate_repo/versions/038_add_metadef_tags_table.py
  glance/db/sqlalchemy/migrate_repo/versions/041_add_artifact_tables.py
  glance/db/sqlalchemy/schema.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Stop checking for DB under sqlalchemy-migrate control
  glance/cmd/manage.py
  glance/db/migration.py
  glance/db/sqlalchemy/alembic_migrations/__init__.py
  glance/tests/unit/test_manage.py
  releasenotes/notes/drop-support-for-sqlalchemy-migrate-4bcbe7b200697586.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

trivial: Remove references to sqlalchemy-migrate
  glance/cmd/manage.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Remove "support" for configurable migration backends
  doc/source/contributor/database_architecture.rst
  glance/db/migration.py
  setup.cfg
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Change database migration version to xena
  glance/db/migration.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move lazy store update to locations layer
  glance/api/authorization.py
  glance/location.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make our functional tests compatible with RBAC
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/functional/test_cache_middleware.py
  glance/tests/functional/test_cors_middleware.py
  glance/tests/functional/test_wsgi.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Make property protection tests use member role
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

Add functional tests for metadef resource types
  glance/tests/functional/v2/test_metadef_resourcetypes.py
Due: glance-code-constants-check

DB layer suppress Forbidden to NotFound error
  glance/db/__init__.py
  glance/tests/unit/test_db_metadef.py
  glance/tests/unit/v2/test_metadef_resources.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add base policy check module
  glance/api/v2/policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Get rid of deprecated xml.etree.cElementTree
  glance/tests/unit/async_/flows/test_ovf_process.py
Due: glance-code-constants-check

Replace deprecated assertDictContainsSubset
  glance/tests/unit/v2/test_metadef_resources.py
Due: glance-code-constants-check

Add api_patch() to SynchronousAPIBase
  glance/tests/functional/__init__.py
Due: glance-code-constants-check

Remove dead 403->404 code
  glance/db/__init__.py
  glance/db/simple/api.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

tests: Remove use of 'oslo_db.sqlalchemy.test_base'
  glance/tests/functional/db/migrations/test_mitaka01.py
  glance/tests/functional/db/migrations/test_mitaka02.py
  glance/tests/functional/db/migrations/test_ocata_contract01.py
  glance/tests/functional/db/migrations/test_ocata_expand01.py
  glance/tests/functional/db/migrations/test_ocata_migrate01.py
  glance/tests/functional/db/migrations/test_pike_contract01.py
  glance/tests/functional/db/migrations/test_pike_expand01.py
  glance/tests/functional/db/migrations/test_pike_migrate01.py
  glance/tests/functional/db/migrations/test_rocky_expand01.py
  glance/tests/functional/db/migrations/test_rocky_expand02.py
  glance/tests/functional/db/migrations/test_train_migrate01.py
  glance/tests/functional/db/migrations/test_wallaby_expand01.py
Due: glance-code-constants-check

Clean out deprecations from paste.ini
  doc/source/configuration/configuring.rst
  etc/glance-api-paste.ini
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove SSL configuration section from docs
  doc/source/configuration/configuring.rst
Due: none

Add housekeeping module and staging cleaner
  glance/common/wsgi.py
  glance/common/wsgi_app.py
  glance/housekeeping.py
  glance/tests/functional/test_wsgi.py
  glance/tests/unit/test_housekeeping.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make test-setup.sh compatible with mysql8
  tools/test-setup.sh
Due: glance-code-constants-check

Refactor gateway get_repo auth layer
  glance/gateway.py
  glance/tests/unit/test_gateway.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make image update check policy at API layer
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add a member field to Image when appropriate
  glance/api/authorization.py
  glance/api/policy.py
  glance/db/__init__.py
  glance/domain/__init__.py
  glance/domain/proxy.py
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/test_db.py
  glance/tests/unit/test_gateway.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check get_image(s) in the API
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/policies/base.py
  glance/tests/functional/v2/test_images.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/utils.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix failing copy_image flow init
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

Refactor gateway auth layer for metadef APIs
  glance/gateway.py
  glance/tests/unit/test_gateway.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15
