Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

Replace FakeObject with mock.MagicMock
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Fix tests for logging connection info
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Updating python testing as per Yoga testing runtime
  .zuul.yaml
  setup.cfg
  tox.ini
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove six.add_metaclass usage
  glance/common/wsgi.py
  glance/notifier.py
  glance/tests/functional/__init__.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove six.iteritems usage
  HACKING.rst
  glance/common/client.py
  glance/common/location_strategy/store_type.py
  glance/common/utils.py
  glance/common/wsgi.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/db/sqlalchemy/metadata.py
  glance/hacking/checks.py
  glance/notifier.py
  glance/schema.py
  glance/tests/functional/v2/test_images.py
  glance/tests/test_hacking.py
  glance/tests/unit/common/test_wsgi.py
  tox.ini
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Use LOG.warning instead of deprecated LOG.warn
  HACKING.rst
  glance/api/common.py
  glance/api/middleware/context.py
  glance/api/v2/image_data.py
  glance/api/v2/images.py
  glance/api/v2/tasks.py
  glance/async_/flows/convert.py
  glance/async_/flows/ovf_process.py
  glance/async_/utils.py
  glance/cmd/replicator.py
  glance/common/location_strategy/__init__.py
  glance/common/property_utils.py
  glance/common/scripts/api_image_import/main.py
  glance/common/scripts/image_import/main.py
  glance/common/store_utils.py
  glance/common/wsgi.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/db/sqlalchemy/metadef_api/namespace.py
  glance/db/sqlalchemy/metadef_api/object.py
  glance/db/sqlalchemy/metadef_api/property.py
  glance/db/sqlalchemy/metadef_api/tag.py
  glance/domain/__init__.py
  glance/hacking/checks.py
  glance/image_cache/__init__.py
  glance/image_cache/drivers/sqlite.py
  glance/image_cache/prefetcher.py
  glance/location.py
  glance/scrubber.py
  glance/tests/test_hacking.py
  tox.ini
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Bump SQLalchemy to version that supports PY3.9
  requirements.txt
Due: none

Fix tests on Python3.10
  glance/common/property_utils.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Document new properties used by Ironic
  doc/source/admin/useful-image-properties.rst
Due: none

Remove six.text_type, six.binary_type usage
  HACKING.rst
  glance/api/v2/image_data.py
  glance/api/v2/image_members.py
  glance/api/v2/images.py
  glance/api/v2/metadef_namespaces.py
  glance/api/v2/metadef_objects.py
  glance/api/v2/metadef_properties.py
  glance/api/v2/metadef_resource_types.py
  glance/api/v2/metadef_tags.py
  glance/api/v2/tasks.py
  glance/async_/flows/api_image_import.py
  glance/async_/flows/base_import.py
  glance/cmd/manage.py
  glance/common/client.py
  glance/common/crypt.py
  glance/common/exception.py
  glance/common/scripts/api_image_import/main.py
  glance/common/scripts/image_import/main.py
  glance/common/utils.py
  glance/common/wsgi.py
  glance/db/sqlalchemy/api.py
  glance/domain/__init__.py
  glance/hacking/checks.py
  glance/image_cache/drivers/xattr.py
  glance/tests/functional/ft_utils.py
  glance/tests/functional/v2/test_images.py
  glance/tests/gate/test_data_migration_version.py
  glance/tests/test_hacking.py
  glance/tests/unit/common/test_exception.py
  glance/tests/unit/common/test_wsgi.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/utils.py
  tox.ini
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove six.moves.range usage
  glance/cmd/control.py
  glance/common/auth.py
  glance/common/client.py
  glance/common/crypt.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/__init__.py
  glance/tests/functional/db/base.py
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/functional/v2/test_images.py
  glance/tests/integration/v2/test_property_quota_violations.py
  glance/tests/unit/common/test_property_utils.py
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/test_context.py
  glance/tests/unit/test_domain_proxy.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/test_misc.py
  glance/tests/unit/test_quota.py
  glance/tests/unit/test_scrubber.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_tasks_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Replace six.BytesIO, six.StringIO usage
  glance/tests/unit/api/test_cmd.py
  glance/tests/unit/async_/flows/test_convert.py
  glance/tests/unit/async_/flows/test_import.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/test_glance_replicator.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/test_manage.py
  glance/tests/unit/v2/test_image_data_resource.py
  glance/tests/utils.py
Due: glance-code-constants-check

Remove six.moves.urllib usage
  glance/api/v2/images.py
  glance/api/v2/metadef_namespaces.py
  glance/api/v2/tasks.py
  glance/api/versions.py
  glance/async_/flows/ovf_process.py
  glance/async_/taskflow_executor.py
  glance/cmd/replicator.py
  glance/common/auth.py
  glance/common/client.py
  glance/common/exception.py
  glance/common/location_strategy/store_type.py
  glance/common/scripts/utils.py
  glance/common/store_utils.py
  glance/common/utils.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/async_/flows/test_import.py
  glance/tests/unit/common/scripts/image_import/test_main.py
  glance/tests/unit/common/scripts/test_scripts_utils.py
  glance/tests/unit/utils.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[stable-only] Specify openstacksdk stable branch
  .zuul.yaml
Due: none

Remove remaining six.moves usage
  HACKING.rst
  glance/cmd/cache_manage.py
  glance/common/property_utils.py
  glance/common/swift_store_utils.py
  glance/hacking/checks.py
  glance/tests/__init__.py
  glance/tests/functional/db/base.py
  glance/tests/test_hacking.py
  glance/tests/unit/test_glance_replicator.py
  tox.ini
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove final six usage
  doc/source/contributor/gerrit.rst
  glance/api/middleware/cache.py
  glance/api/v2/tasks.py
  glance/cmd/replicator.py
  glance/common/client.py
  glance/common/crypt.py
  glance/common/utils.py
  glance/common/wsgi.py
  glance/image_cache/drivers/xattr.py
  glance/tests/unit/common/test_wsgi.py
  glance/tests/unit/test_misc.py
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove six.assertRaisesRegex usage
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

Remove glance.common.client._encode_headers
  glance/common/client.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove '__unicode__' magic methods
  glance/common/exception.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

doc: Remove info on running under Python 3
  doc/source/install/get-started.rst
Due: none

tests: Remove check for os.set_inheritable
  glance/tests/utils.py
Due: glance-code-constants-check

Fix failing copy_image flow init
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

Fix set_property_atomic() boolean type casting
  glance/db/sqlalchemy/api.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[APIImpact] Quota usage API
  api-ref/source/v2/discovery.inc
  api-ref/source/v2/samples/usage-response.json
  glance/api/middleware/version_negotiation.py
  glance/api/v2/discovery.py
  glance/api/v2/router.py
  glance/api/versions.py
  glance/quota/keystone.py
  glance/tests/functional/v2/test_discovery.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/test_versions.py
  releasenotes/notes/added-quota-usage-api-f1914054132f2021.yaml
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add fips check jobs
  .zuul.yaml
  playbooks/enable-fips.yaml
  tools/test-setup.sh
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update qcow test to use qcow2 instead
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add Python 3 only classifier
  setup.cfg
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update migration constant
  doc/source/contributor/releasecycle.rst
  glance/db/migration.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make FIPS job non-voting
  .zuul.yaml
Due: none

Cache management API endpoints
  api-ref/source/v2/cache-manage.inc
  api-ref/source/v2/images-parameters.yaml
  api-ref/source/v2/index.rst
  doc/source/configuration/configuring.rst
  glance/api/middleware/version_negotiation.py
  glance/api/v2/cached_images.py
  glance/api/v2/policy.py
  glance/api/v2/router.py
  glance/api/versions.py
  glance/policies/__init__.py
  glance/policies/base.py
  glance/policies/cache.py
  glance/tests/functional/__init__.py
  glance/tests/functional/test_api.py
  glance/tests/functional/v2/test_cache_api.py
  glance/tests/unit/test_cached_images.py
  glance/tests/unit/test_versions.py
  glance/tests/unit/v2/test_cache_management_api.py
  glance/tests/unit/v2/test_v2_policy.py
  releasenotes/notes/cache-api-b806ccfb8c5d9bb6.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix overwriting of existing tags while creating new tags
  api-ref/source/v2/metadefs-namespaces-tags.inc
  api-ref/source/v2/metadefs-parameters.yaml
  glance/api/v2/metadef_tags.py
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/db/sqlalchemy/metadef_api/tag.py
  glance/domain/proxy.py
  glance/notifier.py
  glance/tests/functional/db/base_metadef.py
  glance/tests/functional/v2/test_metadef_tags.py
  glance/tests/unit/test_db_metadef.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/utils.py
  glance/tests/unit/v2/test_metadef_resources.py
  releasenotes/notes/fix-md-tag-create-multiple-c04756cf5155983d.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Added a new API to expose store info
  api-ref/source/v2/discovery-parameters.yaml
  api-ref/source/v2/discovery.inc
  api-ref/source/v2/samples/stores-list-detail-response.json
  glance/api/middleware/version_negotiation.py
  glance/api/v2/discovery.py
  glance/api/v2/policy.py
  glance/api/v2/router.py
  glance/api/versions.py
  glance/policies/discovery.py
  glance/tests/unit/base.py
  glance/tests/unit/test_versions.py
  glance/tests/unit/v2/test_discovery_stores.py
  glance/tests/unit/v2/test_v2_policy.py
  releasenotes/notes/added-store-detail-api-215810aa85dfbb99.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Yoga RC-1 release notes
  releasenotes/notes/yoga-rc1-release-notes-153932161f52a038.yaml
Due: none

Sync example configs for Yoga
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Change default value for [wsgi]/python_interpreter
  glance/async_/flows/plugins/image_conversion.py
  glance/common/config.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add grenade-skip-level irrelevant-files config
  .zuul.yaml
Due: none
