Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

devstack-plugin-ceph-tempest-py3:
  voting: false

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

fix typo in gerrit doc
  doc/source/contributor/gerrit.rst
Due: none

Bump default tox env from py37 to py38
  tox.ini
Due: none

Fix a failure to parse json file
  etc/metadefs/compute-vmware.json
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Switch to new grenade job name
  .zuul.yaml
Due: none

Use py38 instead of py37 jobs
  .zuul.yaml
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: none

Add tests to lower-constraints job
  tox.ini
Due: none

Cap jsonschema 3.2.0 as the minimal version
  lower-constraints.txt
  requirements.txt
Due: none

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/requirements.txt
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
Due: none

Stop to use the __future__ module.
  glance/cmd/cache_manage.py
  glance/cmd/control.py
  glance/cmd/manage.py
  glance/cmd/replicator.py
  glance/common/wsgi.py
  glance/db/sqlalchemy/alembic_migrations/env.py
  glance/image_cache/drivers/sqlite.py
  glance/image_cache/drivers/xattr.py
  glance/tests/functional/store_utils.py
  glance/tests/unit/fixtures.py
  glance/tests/unit/test_glance_replicator.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/test_manage.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Use grenade-multinode instead of the custom legacy job
  .zuul.yaml
  playbooks/legacy/glance-dsvm-grenade-multinode/post.yaml
  playbooks/legacy/glance-dsvm-grenade-multinode/run.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Exclude http store if --all-stores specified for import/copy operation
  doc/source/admin/interoperable-image-import.rst
  glance/common/utils.py
  glance/tests/unit/common/test_utils.py
  releasenotes/notes/bug-1881958-d0e16538f3c0ffaa.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Remove configs and entries for deprecated registry
  doc/source/admin/controllingservers.rst
  doc/source/cli/glancemanage.rst
  doc/source/cli/glanceregistry.rst
  doc/source/conf.py
  doc/source/configuration/glance_registry.rst
  doc/source/configuration/sample-configuration.rst
  etc/glance-registry-paste.ini
  etc/glance-registry.conf
  etc/oslo-config-generator/glance-registry.conf
  glance/cmd/registry.py
  glance/opts.py
  glance/registry/api/__init__.py
  glance/registry/api/v2/__init__.py
  glance/registry/api/v2/rpc.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Use unittest.mock instead of mock
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/test_quota.py
  glance/tests/unit/test_scrubber.py
  lower-constraints.txt
Due: glance-code-constants-check

Imported Translations from Zanata
  glance/locale/de/LC_MESSAGES/glance.po
  glance/locale/en_GB/LC_MESSAGES/glance.po
  glance/locale/es/LC_MESSAGES/glance.po
  glance/locale/fr/LC_MESSAGES/glance.po
  glance/locale/it/LC_MESSAGES/glance.po
  glance/locale/ja/LC_MESSAGES/glance.po
  glance/locale/ko_KR/LC_MESSAGES/glance.po
  glance/locale/pt_BR/LC_MESSAGES/glance.po
  glance/locale/ru/LC_MESSAGES/glance.po
  glance/locale/tr_TR/LC_MESSAGES/glance.po
  glance/locale/zh_CN/LC_MESSAGES/glance.po
  glance/locale/zh_TW/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

missing warlock
  requirements.txt
Due: none

Switch from unittest2 compat methods to Python 3.x methods
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check

Fix: Interrupted copy-image leaking data on subsequent operation
  glance/async_/flows/_internal_plugins/copy_image.py
  glance/tests/unit/async_/flows/test_copy_image.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Make test-setup.sh compatible with mysql8
  tools/test-setup.sh
Due: glance-code-constants-check

Check authorization before import for image
  glance/api/v2/images.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Deprecation cleanout Registry and related
  etc/glance-registry-paste.ini
  etc/glance-registry.conf
  etc/oslo-config-generator/glance-registry.conf
  glance/api/middleware/cache.py
  glance/api/v2/image_data.py
  glance/cmd/control.py
  glance/cmd/manage.py
  glance/cmd/registry.py
  glance/common/config.py
  glance/common/store_utils.py
  glance/db/__init__.py
  glance/db/simple/__init__.py
  glance/opts.py
  glance/registry/api/__init__.py
  glance/registry/api/v2/__init__.py
  glance/tests/functional/__init__.py
  glance/tests/functional/db/test_simple.py
  glance/tests/functional/serial/test_scrubber.py
  glance/tests/functional/v2/test_images.py
  glance/tests/integration/v2/base.py
  glance/tests/stubs.py
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/test_db.py
  lower-constraints.txt
  releasenotes/notes/cleanout_registry_data-api-9d91368aed83497e.yaml
  setup.cfg
  test-requirements.txt
  tox.ini
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add a test to replicate the owner-required behavior of copy-image
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check

zuul: switch to the "plain" grenade job here too
  .zuul.yaml
Due: none

Update lower-constraints versions
  lower-constraints.txt
  requirements.txt
Due: none

Removal of 'enable_v2_api'
  glance/api/__init__.py
  glance/api/middleware/version_negotiation.py
  glance/api/versions.py
  glance/common/config.py
  glance/tests/functional/__init__.py
  glance/tests/functional/test_api.py
  glance/tests/functional/v2/test_images.py
  releasenotes/notes/cleanup-enable_v2_api-9b9b467f4ae8c3b1.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Improve lazy loading mechanism for multiple stores
  glance/api/authorization.py
  glance/api/v2/images.py
  glance/common/store_utils.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add 'all' visibility filter for listing images in docs
  api-ref/source/v2/images-parameters.yaml
Due: none

Don't include plugins on 'copy-image' import
  glance/async_/flows/api_image_import.py
  glance/tests/unit/async_/test_async.py
  releasenotes/notes/no_plugins_for_copy-image-26c0e384a368bf6a.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Drop collections.abc compat handling
  glance/api/policy.py
  glance/domain/__init__.py
  glance/location.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix metadefs for compute-watchdog
  etc/metadefs/compute-watchdog.json
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
