Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Update .gitreview for stable/yoga
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/yoga
  tox.ini
Due: none

Update master for stable/yoga
  releasenotes/source/index.rst
  releasenotes/source/yoga.rst
Due: none

Fix warning in the release notes
  releasenotes/notes/fix-md-tag-create-multiple-c04756cf5155983d.yaml
Due: none

Remove Babel requirement
  glance/tests/unit/common/test_wsgi.py
  test-requirements.txt
Due: glance-code-constants-check

Update config doc for cinder backend
  doc/source/configuration/configuring.rst
Due: none

Update doc8 ignore-path
  tox.ini
Due: none

Move FIPS jobs to experimental and periodic queue
  .zuul.yaml
Due: none

api-ref needs update about 'checksum' image prop
  api-ref/source/v2/images-parameters.yaml
Due: none

Imported Translations from Zanata
  glance/locale/de/LC_MESSAGES/glance.po
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Update migration constant
  glance/db/migration.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Internal server error if shared member tries to stage data to image
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

[api-ref] update cache manage API info
  api-ref/source/v2/cache-manage-parameters.yaml
  api-ref/source/v2/cache-manage.inc
  api-ref/source/v2/samples/cache-list-response.json
Due: none

glance-manage can purge all deleted rows
  doc/source/admin/db.rst
  glance/cmd/manage.py
  glance/db/sqlalchemy/api.py
  glance/tests/unit/test_glance_manage.py
  releasenotes/notes/add_capability_to_purge_all_deleted_rows-7b3b9b767669b1a5.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[CI] Add upper constraints to install command
  tox.ini
Due: none

[APIImpact] Correct API response code for PUT /v2/cache/{image_id}
  api-ref/source/v2/cache-manage.inc
  glance/api/v2/cached_images.py
  glance/tests/functional/v2/test_cache_api.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add "bochs" as a possible video model
  doc/source/admin/useful-image-properties.rst
  etc/metadefs/compute-libvirt-image.json
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

fixed typo in multistore documentation
  doc/source/admin/multistores.rst
Due: none

Added cli_opts and cache_opts
  glance/opts.py
  releasenotes/notes/add-cli-and-cache-opts-902f28d65c8fb827.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Disable import workflow in glance cinder jobs
  .zuul.yaml
Due: none

Delay string interpolations at logging calls
  glance/api/v2/cached_images.py
  glance/api/v2/images.py
  glance/async_/__init__.py
  glance/async_/flows/ovf_process.py
  glance/async_/taskflow_executor.py
  glance/cmd/replicator.py
  glance/common/property_utils.py
  glance/common/scripts/api_image_import/main.py
  glance/common/scripts/image_import/main.py
  glance/common/wsgi.py
  glance/domain/__init__.py
  glance/image_cache/__init__.py
  glance/image_cache/drivers/sqlite.py
  glance/image_cache/prefetcher.py
  glance/scrubber.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/utils.py
  tox.ini
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Override GLANCE_USE_IMPORT_WORKFLOW in cinder jobs
  .zuul.yaml
Due: none

Fix failing namespace list delete race
  glance/api/v2/metadef_namespaces.py
  glance/tests/unit/v2/test_metadef_resources.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix set_property_atomic() boolean type casting
  glance/db/sqlalchemy/api.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

doc: add aarch64 to list of architecture image properties
  doc/source/admin/useful-image-properties.rst
Due: none

Migrate CentOS Stream 8 job to CentOS Stream 9
  .zuul.yaml
Due: none

Refresh Glance example configs for Zed milestone 1
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Use show-policy to render default policy in documentation
  doc/source/conf.py
  doc/source/configuration/glance_policy.rst
Due: none

Release notes for Zed Milestone 1
  releasenotes/notes/add-cli-and-cache-opts-902f28d65c8fb827.yaml
  releasenotes/notes/zed-milestone-1-592415040e67924e.yaml
Due: none

Add flavor and image options to select emulated virtual tpm
  etc/metadefs/compute-vtpm-hw.json
  etc/metadefs/compute-vtpm.json
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add CPU Mode Metadata Def
  etc/metadefs/compute-cpu-mode.json
  etc/metadefs/glance-common-image-props.json
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Revert "Override GLANCE_USE_IMPORT_WORKFLOW in cinder jobs"
  .zuul.yaml
Due: none

Correction in zed milestone 1 releasenotes
  releasenotes/notes/add-cli-and-cache-opts-902f28d65c8fb827.yaml
  releasenotes/notes/zed-milestone-1-592415040e67924e.yaml
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
