Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

devstack-plugin-ceph-tempest-py3:
  voting: false

Heartbeat the actual work of the task
  glance/async_/flows/api_image_import.py
  glance/common/scripts/image_import/main.py
  glance/common/scripts/utils.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/common/scripts/image_import/test_main.py
  glance/tests/unit/common/scripts/test_scripts_utils.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Update task message during import
  glance/async_/flows/api_image_import.py
  glance/common/exception.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Functional reproducer for bug 1891352
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Fix import failure status reporting when all_stores_must_succeed=True
  glance/async_/flows/api_image_import.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Implement time-limited import locking
  glance/api/v2/images.py
  glance/async_/flows/api_image_import.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/test_async.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix non-deterministic copy_image_revert_lifecycle test
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add context.elevated() helper for getting admin privileges
  glance/context.py
  glance/tests/unit/test_context.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Poll for final state on test_copy_image_revert_lifecycle()
  glance/tests/functional/ft_utils.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Make our import-workflow job also convert images to raw
  .zuul.yaml
  playbooks/post-check-metadata-injection.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

[Trivial]Add missing print parameters in log messages
  glance/api/v2/images.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add a release note about import locking
  releasenotes/notes/import-locking-behavior-901c691f3839fe0a.yaml
Due: none

Fix metadefs for compute-watchdog
  etc/metadefs/compute-watchdog.json
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for Victoria milestone 3
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-scrubber.conf
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Remove babel.cfg etc
  babel.cfg
  setup.cfg
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add FakeData generator test utility
  glance/tests/unit/test_test_utils.py
  glance/tests/utils.py
Due: glance-code-constants-check

Add ImageLock to base flow checks
  glance/tests/unit/async_/test_async.py
Due: glance-code-constants-check

Cleanup import status information after busting a lock
  glance/api/v2/images.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Functional test enhancement for lock busting
  glance/async_/flows/api_image_import.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/async_/flows/test_api_image_import.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Add functional test for task status updating
  glance/tests/functional/v2/test_images_import_locking.py
Due: glance-code-constants-check

Handle atomic image properties separately
  glance/db/__init__.py
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Move SynchronousAPIBase to a generalized location
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_import_locking.py
Due: glance-code-constants-check

Support cinder multiple stores
  glance/api/authorization.py
  glance/common/store_utils.py
  glance/tests/unit/base.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/v2/test_discovery_stores.py
  lower-constraints.txt
  releasenotes/notes/support-cinder-multiple-stores-eb4e6d912d549ee9.yaml
  requirements.txt
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

[Docs] Cinder multiple stores for glance
  doc/source/configuration/configuring.rst
Due: none

Corrections in default value of all_stores_must_succeed
  api-ref/source/v2/images-import.inc
  api-ref/source/v2/images-parameters.yaml
Due: none

Run the nova-ceph-multistore job against glance
  .zuul.yaml
Due: none

Victoria milestone 3 release notes
  releasenotes/notes/import-locking-behavior-901c691f3839fe0a.yaml
  releasenotes/notes/victoria-m3-releasenotes-9209cea98a29abc4.yaml
Due: none

Fix a failure to parse json file
  etc/metadefs/compute-vmware.json
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

docs: Remove references to XenAPI driver
  doc/source/admin/useful-image-properties.rst
  etc/metadefs/compute-libvirt-image.json
  etc/metadefs/compute-xenapi.json
Due: devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

docs: Convert table of image properties to definition list
  doc/source/admin/useful-image-properties.rst
Due: none

docs: Remove cruft from 'conf.py'
  doc/source/conf.py
Due: none

Image import "web-download" check downloaded size
  glance/async_/flows/_internal_plugins/web_download.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Do not use OSC in infra playbook
  playbooks/post-check-metadata-injection.yaml
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Fix cleaning of web-download image import
  glance/async_/flows/_internal_plugins/web_download.py
  glance/tests/unit/async_/flows/test_web_download.py
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Victoria RC-1 release notes
  releasenotes/notes/victoria-rc1-release-notes-d928355cf90d608d.yaml
Due: none

Update .gitreview for stable/victoria
  .gitreview
Due: glance-code-constants-check, devstack-plugin-ceph-tempest-py3, tempest-integrated-storage, grenade-py3, tempest-ipv6-only, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: none

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: none

Add Python3 wallaby unit tests
  .zuul.yaml
Due: none

Adjust jobs for devstack WSGI mode default
  .zuul.yaml
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  devstack-plugin-ceph-tempest-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade-py3: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
