Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

db: Don't invoke and_() without arguments
  glance/db/sqlalchemy/api.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Replace use of 'Query.values()'
  glance/db/sqlalchemy/metadef_api/namespace.py
  glance/db/sqlalchemy/metadef_api/resource_type_association.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Pass case.whens as positionals, not a list
  glance/db/sqlalchemy/api.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Replace use of aliased keyword arguments
  glance/db/sqlalchemy/api.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Don't pass strings to Connection.execute()
  glance/db/sqlalchemy/alembic_migrations/data_migrations/train_migrate01_backend_to_store.py
  glance/tests/functional/db/base.py
  glance/tests/functional/db/test_migrations.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Replace dict-style access of Row attributes
  glance/tests/functional/db/migrations/test_ocata_expand01.py
  glance/tests/functional/db/migrations/test_ocata_migrate01.py
  glance/tests/functional/db/migrations/test_train_migrate01.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check

db: Enable foreign keys for SQLite backend
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Drop use of implicit auto-commit
  glance/db/simple/api.py
  glance/db/sqlalchemy/api.py
  glance/db/sqlalchemy/metadata.py
  glance/tests/functional/db/base.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Re-use a single connection
  glance/db/sqlalchemy/metadata.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Don't inherit cache for DeleteFromSelect
  glance/db/sqlalchemy/api.py
  glance/tests/unit/fixtures.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Drop the convert_unicode, unicode_error flags
  glance/db/sqlalchemy/schema.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Sync migrations, models
  glance/db/sqlalchemy/alembic_migrations/add_images_tables.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Replace use of update.values parameter
  glance/db/sqlalchemy/alembic_migrations/versions/mitaka02_update_metadef_os_nova_server.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Remove explicit autocommit
  glance/db/sqlalchemy/api.py
  glance/db/sqlalchemy/metadef_api/namespace.py
  glance/db/sqlalchemy/metadef_api/tag.py
  glance/tests/functional/db/base.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/unit/test_db.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add job to test with SQLAlchemy master (2.x)
  .zuul.yaml
Due: none

db: Trivial parameter swap
  glance/db/sqlalchemy/api.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

db: Use context, session args for metadef DB APIs
  glance/db/sqlalchemy/api.py
  glance/db/sqlalchemy/metadef_api/namespace.py
  glance/db/sqlalchemy/metadef_api/object.py
  glance/db/sqlalchemy/metadef_api/property.py
  glance/db/sqlalchemy/metadef_api/resource_type.py
  glance/db/sqlalchemy/metadef_api/resource_type_association.py
  glance/db/sqlalchemy/metadef_api/tag.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Sort locations based on store weight
  api-ref/source/v2/discovery-parameters.yaml
  api-ref/source/v2/samples/stores-list-detail-response.json
  glance/api/v2/discovery.py
  glance/api/v2/images.py
  glance/common/utils.py
  glance/db/__init__.py
  glance/tests/functional/v2/test_discovery.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/v2/test_discovery_stores.py
  releasenotes/notes/store-weight-3ed3ee612579bc25.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix post failures causing by image conversion failure
  .zuul.yaml
Due: none

Set GLOBAL_VENV to false for centos
  .zuul.yaml
Due: none

Fix openstack-tox-py311 job
  bindep.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Imported Translations from Zanata
  glance/locale/ko_KR/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Refresh Glance example configs for bobcat rc1
  etc/glance-api.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Reduce concurrency for tempest jobs
  .zuul.yaml
Due: none

Remove ubuntu focal job
  .zuul.yaml
Due: none

api-ref: Fix RST formatting
  api-ref/source/versions/index.rst
Due: none

Update .gitreview for stable/2023.2
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: none

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

zuul: Replace use of deprecated regex syntax
  .zuul.yaml
Due: none

Unset VENV python_interpreter in fips job
  .zuul.yaml
Due: none

Fix python shebang
  glance/cmd/api.py
  glance/cmd/cache_manage.py
  glance/cmd/cache_prefetcher.py
  glance/cmd/manage.py
  glance/cmd/replicator.py
  glance/cmd/scrubber.py
  glance/cmd/status.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Do not load api-paste.ini using oslo.config
  glance/common/wsgi_app.py
  releasenotes/notes/do-not-load-paste-ini-1ec473693037ee5b.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Drop unused pyOpenSSL
  requirements.txt
Due: none

Make glance-tox-functional-py39-sqlalchemy-tips job non-voting
  .zuul.yaml
Due: none

Revert "Make glance-tox-functional-py39-sqlalchemy-tips job non-voting"
  .zuul.yaml
Due: none

Deprecate Windows OS support
  glance/common/wsgi.py
  releasenotes/notes/deprecate-windows-support-557481e4d45912ee.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Increase timeout for glance cinder multistore job
  .zuul.yaml
Due: none

Add Packed Virtqueue extra spec and image properties
  doc/source/admin/useful-image-properties.rst
  etc/metadefs/compute-libvirt.json
  glance/tests/functional/db/base_metadef.py
  releasenotes/notes/bp-virtio-packed-ring-configuration-support-0cd0333c1c52c02b.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15
