Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Make location URL compatible with cinder backend
  glance/common/store_utils.py
  glance/tests/unit/common/test_utils.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Release notes for Dalmatian Milestone 2
  releasenotes/notes/dalmatian-milestone-2-releasenotes-a35ccfe1cbf95fce.yaml
Due: none

Add safety check and detection support to FI tool
  tools/test_format_inspector.py
Due: glance-code-constants-check

Add file format detection to format_inspector
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Reject qcow files with data-file attributes
  glance/async_/flows/base_import.py
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
  glance/tests/unit/async_/flows/test_import.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Extend format_inspector for QCOW safety
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add QED format detection to format_inspector
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add VMDK safety check
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Reject unsafe qcow and vmdk files
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Deprecate the "metadata_encryption_key" option
  glance/common/config.py
  releasenotes/notes/deprecate_metadata_encryption_key_option-8c6076ca6e361f92.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix import job to provide valid disk-formats list to tempest
  .zuul.yaml
Due: none

Make import jobs non-voting
  .zuul.yaml
Due: none

Increase timeout for tempest-integrated-storage-import job
  .zuul.yaml
Due: none

[stable only] Make import jobs non-voting
  .zuul.yaml
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
