Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

Increase timeout for tempest-integrated-storage-import job
  .zuul.yaml
Due: none

Add releasenote for CVE-2024-32498 fix
  releasenotes/notes/bug-2059809-disallow-qcow2-datafile-5d5ff4dbd590c911.yaml
Due: none

Revert "Make import jobs non-voting"
  .zuul.yaml
Due: none

Fix: optimized upload volume in Cinder store
  glance/api/v2/images.py
  releasenotes/notes/make-cinder-url-compatible-with-locations-1f3e938ff7e11c7d.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Revert "[stable only] Make import jobs non-voting"
  .zuul.yaml
Due: none

Add safety check and detection support to FI tool
  tools/test_format_inspector.py
Due: glance-code-constants-check

zuul: Drop openstack-tox-functional-py38-fips job
  .zuul.yaml
Due: none

Remove py38-fips jobs because stream8 is dead
  .zuul.yaml
Due: none

Fix import job to provide valid disk-formats list to tempest
  .zuul.yaml
Due: none

Adjust integrated-storage-import jobs
  .zuul.yaml
  playbooks/post-check-metadata-injection.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix /healthcheck url typo in glance-api-paste
  etc/glance-api-paste.ini
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update .gitreview for unmaintained/zed
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Reject qcow files with data-file attributes
  glance/async_/flows/base_import.py
  glance/async_/flows/plugins/image_conversion.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
  glance/tests/unit/async_/flows/test_import.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Support Stream Optimized VMDKs
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Extend format_inspector for QCOW safety
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add VMDK safety check
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Revert "Fix import job to provide valid disk-formats list to tempest"
  .zuul.yaml
Due: none

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Do not set_acls if store is not associated to glance node
  glance/location.py
  releasenotes/notes/fix-set-acls-bc17b5e125425c9b.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add Location Import task flow
  glance/api/v2/tasks.py
  glance/async_/flows/location_import.py
  glance/async_/taskflow_executor.py
  glance/common/config.py
  glance/common/scripts/utils.py
  glance/domain/__init__.py
  glance/tests/unit/async_/flows/test_location_import.py
  glance/tests/unit/common/scripts/test_scripts_utils.py
  setup.cfg
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add new add location api
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/api/v2/router.py
  glance/common/utils.py
  glance/policies/base.py
  glance/policies/image.py
  glance/tests/functional/v2/test_schemas.py
  glance/tests/unit/common/test_utils.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_schemas_resource.py
  releasenotes/notes/add-new-add-location-api-acd459299976b4a5.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add functional tests for new add-location API
  glance/tests/functional/__init__.py
  glance/tests/functional/ft_utils.py
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Add new get location api
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/api/v2/router.py
  glance/policies/base.py
  glance/policies/image.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_images_resource.py
  releasenotes/notes/add-new-get-locations-api-83c4b6dc077efc5f.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix LP#2054575
  glance/api/v2/images.py
  glance/common/store_utils.py
  glance/tests/unit/common/test_utils.py
  releasenotes/notes/make-cinder-url-compatible-with-locations-1f3e938ff7e11c7d.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add api-ref and documentation for new location apis
  api-ref/source/v2/images-images-v2.inc
  api-ref/source/v2/images-parameters.yaml
  api-ref/source/v2/samples/add-location-request.json
  api-ref/source/v2/samples/locations-list-detail-response.json
  doc/source/admin/index.rst
  doc/source/admin/new-location-apis.rst
Due: none

Bump Images API version to 2.17
  glance/api/middleware/version_negotiation.py
  glance/api/versions.py
  glance/tests/unit/test_versions.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove location_strategy functionality
  glance/common/config.py
  glance/common/location_strategy/__init__.py
  glance/common/location_strategy/location_order.py
  glance/common/location_strategy/store_type.py
  glance/common/utils.py
  glance/opts.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images.py
  glance/tests/unit/common/test_location_strategy.py
  releasenotes/notes/removed-location-strategy-functionality-b1b562e68608a6f8.yaml
  setup.cfg
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make separate schema for new location API
  glance/api/v2/images.py
  glance/tests/functional/v2/test_schemas.py
  glance/tests/unit/v2/test_schemas_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15
