Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Fix unintentional exception inspecting VMDK
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

vmware does't support VirtualSriovEthernetCard
  api-ref/source/v2/samples/metadef-properties-list-response.json
  doc/source/admin/useful-image-properties.rst
  etc/metadefs/compute-vmware.json
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove useless test for the CooperativeReader class
  glance/tests/unit/common/test_utils.py
Due: glance-code-constants-check

docs: Add note about introduction of per-tenant quotas
  doc/source/admin/quotas.rst
Due: none

Drop tag assertion from README
  README.rst
Due: none

Update the RADOS authentication link
  doc/source/configuration/configuring.rst
Due: none

Refresh Glance example configs for antelope milestone 2
  etc/glance-api.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fix cinder tests for refactoring effort
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Release notes for Antelope Milestone 2
  releasenotes/notes/antelope-milestone-2-d89e39412f9c0334.yaml
Due: none

Fix E741 issues
  glance/db/__init__.py
  glance/db/sqlalchemy/api.py
  glance/tests/functional/db/base.py
  glance/tests/unit/test_db.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove migration constant job and test
  .zuul.yaml
  glance/tests/gate/README
  glance/tests/gate/__init__.py
  glance/tests/gate/test_data_migration_version.py
  tox.ini
Due: glance-code-constants-check

Update migration constant
  glance/db/sqlalchemy/alembic_migrations/data_migrations/2023_1_migrate01_empty.py
  glance/db/sqlalchemy/alembic_migrations/data_migrations/xena_migrate01_empty.py
  glance/db/sqlalchemy/alembic_migrations/data_migrations/yoga_migrate01_empty.py
  glance/db/sqlalchemy/alembic_migrations/data_migrations/zed_migrate01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/2023_1_contract01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/2023_1_expand01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/xena_contract01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/xena_expand01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/yoga_contract01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/yoga_expand01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/zed_contract01_empty.py
  glance/db/sqlalchemy/alembic_migrations/versions/zed_expand01_empty.py
  glance/tests/functional/db/test_migrations.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

[stable-only] Remove glance-code-constants-check
  .zuul.yaml
Due: none

Allow easier admin override in policies
  glance/policies/base.py
  glance/policies/discovery.py
  glance/policies/image.py
  glance/policies/metadef.py
  glance/policies/tasks.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Enforce image safety during image_conversion
  glance/async_/flows/plugins/image_conversion.py
  glance/common/config.py
  glance/tests/unit/async_/flows/plugins/test_image_conversion.py
  tox.ini
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add multihash info in glance documentation
  doc/source/admin/index.rst
  doc/source/admin/os_hash_algo.rst
  doc/source/user/index.rst
  doc/source/user/os_hash_algo.rst
Due: none

doc/useful-image-properties: add missing `` to close a code block
  doc/source/admin/useful-image-properties.rst
Due: none

Enabled new defaults and scope checks by default
  .zuul.yaml
  glance/api/policy.py
  glance/common/config.py
  glance/tests/functional/__init__.py
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/utils.py
  glance/tests/unit/v2/test_image_data_resource.py
  glance/tests/unit/v2/test_image_members_resource.py
  glance/tests/unit/v2/test_images_resource.py
  releasenotes/notes/enable-enforce-scope-and-new-defaults-ef543183e6c2eabb.yaml
  requirements.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove deprecated ``enforce_secure_rbac`` option
  glance/api/policy.py
  glance/api/v2/image_members.py
  glance/api/v2/policy.py
  glance/cmd/api.py
  glance/common/config.py
  glance/common/wsgi_app.py
  glance/tests/functional/__init__.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_v2_policy.py
  releasenotes/notes/remove-enforce-secure-rbac-ec9a0249870460c2.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for antelope milestone 3
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Release notes for Antelope Milestone 3
  releasenotes/notes/antelope-milestone-3-b9a4f7fdba31f628.yaml
Due: none

Enclose all APIv2 versions in single quotes
  glance/api/versions.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make glance-secure-rbac-protection-functional job non-voting
  .zuul.yaml
Due: none

Revert "Make glance-secure-rbac-protection-functional job non-voting"
  .zuul.yaml
Due: none

Update .gitreview for stable/2023.1
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: none

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
