Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

Implement project personas for metadef properties
  glance/policies/metadef.py
  glance/tests/functional/v2/test_metadef_properties.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Implement project personas for metadef tags
  glance/policies/metadef.py
  glance/tests/functional/v2/test_metadef_tags.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add doc support for delete-from-store API
  api-ref/source/v2/images-parameters.yaml
  api-ref/source/v2/index.rst
  api-ref/source/v2/stores.inc
Due: none

Refresh Glance example configs for Xena milestone 3
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-manage.conf
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Xena milestone 3 release notes
  releasenotes/notes/xena-m3-releasenotes-a92d55d29eecc8f6.yaml
Due: none

[uwsgi] Add missing pefetch periodic job
  glance/async_/__init__.py
  glance/common/wsgi_app.py
  glance/image_cache/prefetcher.py
  glance/tests/unit/async_/test_async.py
  glance/tests/unit/common/test_wsgi_app.py
  glance/tests/unit/test_image_cache.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Make signature verification go back to 'queued'
  glance/api/v2/image_data.py
  glance/tests/unit/v2/test_image_data_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Reproduce bug #1932337
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Fix failed cinder store migration for non-owners
  glance/location.py
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
  releasenotes/notes/cinder-store-migration-non-owner-80a2a8114d8602aa.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fixed image_format typo in doc
  doc/source/configuration/configuring.rst
Due: none

Remove duplicate namespace utilities in functional tests
  glance/tests/functional/v2/metadef_base.py
  glance/tests/functional/v2/test_metadef_namespaces.py
  glance/tests/functional/v2/test_metadef_objects.py
  glance/tests/functional/v2/test_metadef_properties.py
  glance/tests/functional/v2/test_metadef_resourcetypes.py
  glance/tests/functional/v2/test_metadef_tags.py
Due: glance-code-constants-check

Move global constants to test module setUp
  glance/tests/functional/v2/metadef_base.py
  glance/tests/functional/v2/test_metadef_namespaces.py
  glance/tests/functional/v2/test_metadef_objects.py
  glance/tests/functional/v2/test_metadef_properties.py
  glance/tests/functional/v2/test_metadef_resourcetypes.py
  glance/tests/functional/v2/test_metadef_tags.py
Due: glance-code-constants-check

Remove duplicate _header() implementations in metadef tests
  glance/tests/functional/v2/metadef_base.py
  glance/tests/functional/v2/test_metadef_namespaces.py
  glance/tests/functional/v2/test_metadef_objects.py
  glance/tests/functional/v2/test_metadef_properties.py
  glance/tests/functional/v2/test_metadef_resourcetypes.py
  glance/tests/functional/v2/test_metadef_tags.py
Due: glance-code-constants-check

Remove duplicate _url() methods from functional test classes
  glance/tests/functional/__init__.py
  glance/tests/functional/test_reload.py
  glance/tests/functional/v2/test_images.py
  glance/tests/functional/v2/test_metadef_namespaces.py
  glance/tests/functional/v2/test_metadef_objects.py
  glance/tests/functional/v2/test_metadef_properties.py
  glance/tests/functional/v2/test_metadef_resourcetypes.py
  glance/tests/functional/v2/test_metadef_tags.py
  glance/tests/functional/v2/test_tasks.py
Due: glance-code-constants-check

Add 22.0.1 release notes
  releasenotes/notes/wallaby-22.0.1-712ef4d32107c171.yaml
Due: none

Add 21.0.1 reno
  releasenotes/notes/victoria-21.0.1-3e2d24edcaba77b1.yaml
Due: none

Add 20.1.1 reno
  releasenotes/notes/ussuri-20.1.1-e5ed6cdb4afa2e7c.yaml
Due: none

Xena RC-1 release notes
  releasenotes/notes/xena-rc1-release-notes-12dbe0ac528ce483.yaml
Due: none

Update .gitreview for stable/xena
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: none

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  .zuul.yaml
Due: none

Bump oslo.log to version 4.5.0
  requirements.txt
Due: none

Drop support for SQLite < 3.7
  glance/tests/functional/db/base.py
  glance/tests/utils.py
Due: glance-code-constants-check

Bump oslo.policy to version 3.8.1
  requirements.txt
Due: none

Use single quotes in image policies
  glance/policies/base.py
  glance/tests/unit/test_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add libpcre3-dev/pcre-devel to bindep.txt
  bindep.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove dead psutil-related code
  glance/tests/functional/test_reload.py
Due: glance-code-constants-check

Use singular they instead of "he/she" where possible
  doc/source/admin/multistores.rst
  doc/source/configuration/configuring.rst
  doc/source/contributor/domain_model.rst
  doc/source/glossary.rst
Due: none

Imported Translations from Zanata
  glance/locale/de/LC_MESSAGES/glance.po
  glance/locale/en_GB/LC_MESSAGES/glance.po
  glance/locale/es/LC_MESSAGES/glance.po
  glance/locale/fr/LC_MESSAGES/glance.po
  glance/locale/it/LC_MESSAGES/glance.po
  glance/locale/ja/LC_MESSAGES/glance.po
  glance/locale/ko_KR/LC_MESSAGES/glance.po
  glance/locale/pt_BR/LC_MESSAGES/glance.po
  glance/locale/ru/LC_MESSAGES/glance.po
  glance/locale/tr_TR/LC_MESSAGES/glance.po
  glance/locale/zh_CN/LC_MESSAGES/glance.po
  glance/locale/zh_TW/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Fix typos
  doc/source/admin/apache-httpd.rst
  doc/source/configuration/configuring.rst
  doc/source/glossary.rst
  glance/api/middleware/context.py
  glance/api/policy.py
  glance/api/v2/image_members.py
  glance/async_/flows/api_image_import.py
  glance/async_/flows/base_import.py
  glance/cmd/cache_cleaner.py
  glance/common/config.py
  glance/common/format_inspector.py
  glance/common/scripts/utils.py
  glance/common/swift_store_utils.py
  glance/common/wsgi.py
  glance/db/sqlalchemy/alembic_migrations/__init__.py
  glance/domain/__init__.py
  glance/image_cache/drivers/xattr.py
  glance/policies/base.py
  glance/tests/functional/__init__.py
  glance/tests/functional/db/migrations/test_ocata_migrate01.py
  glance/tests/functional/db/test_sqlalchemy.py
  glance/tests/functional/v2/test_images.py
  glance/tests/test_hacking.py
  glance/tests/unit/api/test_cmd.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/utils.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update qcow test to use qcow2 instead
  glance/tests/functional/v2/test_images.py
Due: glance-code-constants-check

Remove broken tempest-full-py3-opensuse15 job
  .zuul.yaml
Due: none

Add missing packages to test dependencies
  bindep.txt
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update Interop doc
  doc/source/glossary.rst
  doc/source/user/glanceapi.rst
Due: none

Add "bochs" as a possible video model
  doc/source/admin/useful-image-properties.rst
  etc/metadefs/compute-libvirt-image.json
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refactor glance cinder tests
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  glance/locale/ko_KR/LC_MESSAGES/glance.po
Due: glance-code-constants-check
