Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

glance-code-constants-check:
  parent: tox
  description: 'Tests to catch when code constants have gotten out of sync.
  
    '
  vars:
    tox_envlist: gateonly

glance-ceph-thin-provisioning:
  parent: devstack-plugin-ceph-tempest-py3
  description: 'Just like devstack-plugin-ceph-tempest-py3, but with thin provisioning enabled
  
    '
  required-projects:
  - name: openstack/glance_store
  vars:
    devstack_local_conf:
      post-config:
        $GLANCE_API_CONF:
          glance_store:
  ...

tempest-integrated-storage-import:
  parent: tempest-integrated-storage
  description: 'The regular tempest-integrated-storage job but with glance metadata injection
  
    '
  post-run: playbooks/post-check-metadata-injection.yaml
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: false
      GLANCE_USE_IMPORT_WORKFLOW: true
  ...

tempest-integrated-storage-import-standalone:
  parent: tempest-integrated-storage-import
  description: 'The regular tempest-integrated-storage-import-workflow job but with glance in
  
    standalone mode
  
    '
  vars:
    devstack_localrc:
      GLANCE_STANDALONE: true

glance-multistore-cinder-import:
  parent: tempest-integrated-storage-import
  voting: false
  description: 'The regular import workflow job to test with multiple cinder stores
  
    '
  vars:
    devstack_localrc:
      USE_CINDER_FOR_GLANCE: true
      GLANCE_ENABLE_MULTIPLE_STORES: true
  ...

Fix: glance cinder functional test
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Add check_is_image_mutable() legacy helper
  glance/api/v2/policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check delete_image policy in the API
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refactor gateway auth layer for member APIs
  glance/gateway.py
  glance/tests/unit/test_gateway.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move metadef namespace policy checks in the API
  glance/api/v2/metadef_namespaces.py
  glance/api/v2/policy.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_metadef_namespace_api_policy.py
  glance/tests/unit/v2/test_metadef_resources.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move metadef object policy checks in the API
  glance/api/v2/metadef_objects.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_metadef_object_api_policy.py
  glance/tests/unit/v2/test_metadef_resources.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Resolve compatibility with oslo.db future
  glance/tests/functional/db/migrations/test_mitaka02.py
Due: glance-code-constants-check

setup.cfg: Fix errant key
  setup.cfg
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move member policy checks to API layer
  glance/api/v2/image_members.py
  glance/api/v2/policy.py
  glance/policies/base.py
  glance/policies/image.py
  glance/tests/functional/v2/test_member_api_policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refactor gateway auth layer for task APIs
  glance/gateway.py
  glance/tests/unit/test_gateway.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Deprecate task specific policies
  glance/policies/tasks.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add missing parameters for the healthcheck middleware
  etc/oslo-config-generator/glance-api.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Resolve compatibility with oslo.db future (redux)
  glance/tests/functional/db/migrations/test_ocata_contract01.py
  glance/tests/functional/db/migrations/test_ocata_expand01.py
  glance/tests/functional/db/migrations/test_ocata_migrate01.py
  glance/tests/functional/db/migrations/test_train_migrate01.py
Due: glance-code-constants-check

Load options from the castellan library
  etc/oslo-config-generator/glance-api.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check upload_image policy in the API
  glance/api/v2/image_data.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_image_data_resource.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Suppress policy deprecation and default change warnings
  glance/api/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/functional/v2/test_member_api_policy.py
  glance/tests/functional/v2/test_metadef_namespace_api_policy.py
  glance/tests/functional/v2/test_metadef_object_api_policy.py
  glance/tests/unit/api/test_property_protections.py
  glance/tests/unit/common/test_property_utils.py
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/test_policy.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refactor gateway auth layer for image factory
  glance/gateway.py
  glance/tests/unit/test_gateway.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check download_image policy in the API
  glance/api/middleware/cache.py
  glance/api/v2/image_data.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/test_cache_middleware.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check policies for staging operation in API
  glance/api/v2/image_data.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

trivial: Double quote check_str for consistency
  glance/policies/image.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add missing forbidden to not found case for GET namespace API
  glance/api/v2/metadef_namespaces.py
  glance/tests/functional/v2/test_metadef_namespace_api_policy.py
  glance/tests/unit/v2/test_metadef_resources.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check add_image policy in the API
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/policies/base.py
  glance/policies/image.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move metadef resource type association policy checks in the API
  glance/api/v2/metadef_resource_types.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_metadef_resourcetype_api_policy.py
  glance/tests/unit/v2/test_metadef_resources.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add missing [oslo_reports] options
  etc/oslo-config-generator/glance-api.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

add doc about KVM support e1000e vif model
  doc/source/admin/useful-image-properties.rst
Due: none

Check deactivate, reactivate policy in the API
  glance/api/v2/image_actions.py
  glance/api/v2/policy.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check policies for delete image for store in API
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move Tasks policy checks in the API
  glance/api/v2/policy.py
  glance/api/v2/tasks.py
  glance/gateway.py
  glance/tests/functional/v2/test_tasks_api_policy.py
  glance/tests/unit/test_gateway.py
  glance/tests/unit/v2/test_tasks_resource.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Avoid reinitialization of image repo
  glance/api/v2/image_data.py
  glance/tests/unit/v2/test_image_data_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check policies for image import operation in API
  glance/api/v2/images.py
  glance/api/v2/policy.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/functional/v2/test_images_import_locking.py
  glance/tests/unit/v2/test_images_resource.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check policies for Image Tags in API
  glance/api/v2/image_tags.py
  glance/tests/functional/v2/test_images_api_policy.py
  glance/tests/unit/v2/test_image_tags_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add release note about policy-refactor
  releasenotes/notes/policy-refactor-xena-0cddb7f2d492cb3a.yaml
Due: none

Check policies for image tasks information in API
  glance/api/v2/images.py
  glance/tests/functional/v2/test_images_api_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move metadef property policy checks in the API
  glance/api/v2/metadef_properties.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_metadef_property_api_policy.py
  glance/tests/unit/v2/test_metadef_resources.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Move metadef tag policy checks in the API
  glance/api/v2/metadef_tags.py
  glance/api/v2/policy.py
  glance/tests/functional/v2/test_metadef_tag_api_policy.py
  glance/tests/unit/v2/test_metadef_resources.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Check policies for Image Cache in API
  glance/api/v2/cached_images.py
  glance/api/v2/policy.py
  glance/image_cache/prefetcher.py
  glance/tests/functional/__init__.py
  glance/tests/functional/v2/test_cache_api_policy.py
  glance/tests/unit/test_image_cache.py
  glance/tests/unit/v2/test_v2_policy.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

'community' images need to be treated as public
  glance/location.py
  glance/tests/unit/v2/test_images_resource.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Implement project personas for metadef namespaces
  glance/policies/base.py
  glance/policies/metadef.py
  glance/tests/functional/v2/test_metadef_namespaces.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Implement project personas for metadef objects
  glance/policies/metadef.py
  glance/tests/functional/v2/test_metadef_objects.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Implement project personas for metadef resource-types
  glance/policies/metadef.py
  glance/tests/functional/v2/test_metadef_resourcetypes.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
