Repository openstack/glance: changes, and which Zuul jobs are due for each by the changed paths.
All: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Path conditions:
  glance-code-constants-check: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tox.ini$, ^\.zuul\.yaml$
  glance-ceph-thin-provisioning: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-integrated-storage-import-standalone: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  glance-multistore-cinder-import: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  grenade: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-ipv6-only: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  nova-ceph-multistore: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-pg-full: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$
  tempest-full-py3-opensuse15: unless all of: ^(test-|)requirements.txt$, ^lower-constraints.txt$, ^.*\.rst$, ^api-ref/.*$, ^glance/hacking/.*$, ^glance/locale/.*$, ^glance/tests/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^tox.ini$, ^\.zuul\.yaml$

Mock getaddrinfo in cinder store tests
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

Fix tests for logging connection info
  glance/tests/functional/v2/test_legacy_update_cinder_store.py
Due: glance-code-constants-check

remove expired notes for Multi Store feature
  api-ref/source/v2/discovery.inc
  api-ref/source/v2/images-data.inc
  api-ref/source/v2/images-images-v2.inc
Due: none

Fix a deprecation warning about threading.Thread
  glance/api/v2/cached_images.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Add support to get glance endpoint
  glance/async_/utils.py
  glance/common/exception.py
  glance/tests/unit/async_/test_utils.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Extending stores-detail API
  api-ref/source/v2/samples/stores-list-detail-response.json
  glance/api/v2/discovery.py
  glance/tests/functional/v2/test_discovery.py
  glance/tests/unit/base.py
  glance/tests/unit/v2/test_discovery_stores.py
  releasenotes/notes/expanding-stores-details-d3aa8ebb76ad68d9.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Implement glance-download internal plugin
  glance/api/v2/images.py
  glance/async_/flows/_internal_plugins/base_download.py
  glance/async_/flows/_internal_plugins/glance_download.py
  glance/async_/flows/_internal_plugins/web_download.py
  glance/async_/flows/api_image_import.py
  glance/common/config.py
  glance/tests/unit/async_/flows/test_api_image_import.py
  glance/tests/unit/async_/flows/test_base_download.py
  glance/tests/unit/async_/flows/test_glance_download.py
  glance/tests/unit/async_/flows/test_web_download.py
  glance/tests/unit/utils.py
  glance/tests/unit/v2/test_discovery_image_import.py
  glance/tests/unit/v2/test_images_resource.py
  releasenotes/notes/add-glance-download-method-be6d9e927b8b0a43.yaml
  setup.cfg
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Release notes for Zed Milestone 3
  releasenotes/notes/zed-milestone-3-3e38697ae4677a81.yaml
Due: none

Imported Translations from Zanata
  glance/locale/en_GB/LC_MESSAGES/glance.po
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: glance-code-constants-check

Add documentation for glance-download plugin
  api-ref/source/v2/images-import.inc
  api-ref/source/v2/samples/image-import-gd-request.json
  doc/source/admin/interoperable-image-import.rst
Due: none

[glance-download] Add missing config options to config list
  glance/opts.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Remove 'glance-download' from default import methods
  glance/common/config.py
  glance/tests/unit/v2/test_discovery_image_import.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Refresh Glance example configs for zed milestone 3
  etc/glance-api.conf
  etc/glance-cache.conf
  etc/glance-image-import.conf.sample
  etc/glance-scrubber.conf
Due: glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Minor fix on Interoperable Image Import admin doc
  doc/source/admin/interoperable-image-import.rst
Due: none

RBAC updates: drop system scope
  glance/policies/base.py
  glance/policies/discovery.py
  glance/policies/image.py
  glance/policies/metadef.py
  glance/policies/tasks.py
  releasenotes/notes/rbac-updates-ba0fcb886fe4085c.yaml
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Fixes the api-ref response
  api-ref/source/v2/metadefs-namespaces-tags.inc
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Fix a wrong assertion method
  glance/tests/unit/v2/test_image_data_resource.py
Due: glance-code-constants-check

Update .gitreview for stable/zed
  .gitreview
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: none

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.yaml
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
Due: none

Quota configuration: improve example oslo_limit section
  doc/source/install/configure-quotas.rst
Due: none

add openstack-python3-zed-jobs-arm64 job
  .zuul.yaml
Due: none

Fix a document description error
  doc/source/install/configure-quotas.rst
  doc/source/install/register-quotas.rst
Due: none

[stable-only] Remove glance-code-constants-check
  .zuul.yaml
Due: none

Fix unintentional exception inspecting VMDK
  glance/common/format_inspector.py
  glance/tests/unit/common/test_format_inspector.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15

Further robustification of format_inspector
  glance/location.py
  glance/tests/unit/test_store_image.py
Due: glance-code-constants-check, glance-ceph-thin-provisioning, tempest-integrated-storage, tempest-integrated-storage-import, tempest-integrated-storage-import-standalone, glance-multistore-cinder-import, grenade, tempest-ipv6-only, nova-ceph-multistore, tempest-pg-full, tempest-full-py3-opensuse15
